/* src/components/Movies/Movies.module.css */
.container {
    padding: 20px;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    width: 400px;
    font-size: 16px;
    margin-right: px;

  }
  
  .button {
    background-color: #000000;
    color: #d4d4d4;
    padding: 10px 20px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    color: rgb(255, 79, 79);
  }
  
  