/* src/components/Shared/Header/Header.module.css */
.header {
    background-color: #000000ea;
    padding: 20px 20px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .link {
    color: rgb(151, 151, 151);
    margin-right: 15px;
    text-decoration: none;
  }
  
  .link:hover {
    color:  #fd5151;
}
  