/* src/components/Cast/Cast.module.css */

.cast {
    padding: 20px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
  }
  
  .cast h2 {
    margin-bottom: 10px;
  }
  
  .cast ul {
    list-style: none;
    padding: 0;
  }
  
  .cast li {
    margin-bottom: 10px;
  }
  